* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f1f5f8;
    font-family: 'Roboto', sans-serif;
}

.container h2 {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 24px;
}

.color {
    color: #49a6e9;
}

.btn {
    background: transparent;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #222;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background: #222;
    color: #ffffff;
    transition: all 0.275s ease-in;
}
